{% extends "layout.njk" %} {% block css %}{% endblock %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-5 ml-auto pl-lg-5 text-center">
      <h3 class="scissors text-center">Welcome To V[A|I]DEO? RETRO!</h3>
      <p class="mb-5 lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nesciunt nemo vel earum maxime neque!
      </p>
      <p><a href="#" class="btn btn-primary">Learn More</a></p>
    </div>
  </div>
</div>

{% endblock %}
